<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://m.media-amazon.com/images/I/71cWZUr9SVL._AC_SX342_SY445_QL70_FMwebp_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">MacBook Pro</h5>
                <p class="card-text">Apple 2025 MacBook Air 13-inch Laptop with M4 chip: Built for Apple Intelligence,
                    13.6-inch Liquid Retina Display, 16GB Unified Memory, 256GB SSD Storage, 12MP Center Stage Camera,
                    Touch ID; Midnight</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://m.media-amazon.com/images/I/71Qpi-uTVcL._AC_SY300_SX300_QL70_FMwebp_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Lenovo</h5>
                <p class="card-text">Lenovo 15.6" FHD Laptop Computer for Home Student Study and Business, Intel
                    Dual-Core Processor, 16GB DDR4 RAM, 1TB PCIe SSD, WiFi 6, Bluetooth 5.2, RJ-45, HDMI, Windows 11 Pro
                </p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://m.media-amazon.com/images/I/61AsCvelYYL._AC_SX355_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HP</h5>
                <p class="card-text">HP OmniBook 5 Flip 2-in-1 Touch Screen i7 Laptop, 16GB DDR5 RAM 1TB SSD Intel Core
                    7 150U Processor(Beat i7 1355U), 14" FHD+IPS Display, Backlit Keyboard, Wi-Fi 6E, 5MP IR Privacy
                    Camera, Win 11 Pro</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://m.media-amazon.com/images/I/71jInx9CC8L._AC_SY300_SX300_QL70_FMwebp_.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HP</h5>
                <p class="card-text">HP 15.6" FHD Laptop Computer for Business Home and Student, 32GB DDR4 RAM, 1TB PCIe
                    SSD, Intel Processor (Beat i3-1115G4), WiFi 6E, Bluetooth 5.3, Webcam, HDMI, Type-C, Windows 11 Pro
                </p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>
</div>