<h3 class="text-center">Let's Learn Directives. </h3>


<div class="border border-2 rounded-2 p-2 m-2">
  <div>If-Else Before Angular 17</div>
  <div>
    <input type="number" [(ngModel)]="num" />
  </div>
  <div *ngIf="num % 2 === 0">{{ num }} is Even</div>
  <div *ngIf="num % 2 !== 0">{{ num }} is Odd</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>If-Else After Angular 17</div>
  @if(num % 2 === 0){
    <div>{{ num }} is Even</div>
  }@else {
    <div>{{ num }} is Odd</div>
  }
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Switch Case:</div>
  @switch (num) {
    @case (1) { <h1>Monday</h1> }
    @case (2) { <h1>Tuesday</h1> }
    @case (3) { <h1>Wednesday</h1> }
    @case (4) { <h1>Thursday</h1> }
    @case (5) { <h1>Friday</h1> }
    @case (6) { <h1>Saturday</h1> }
    @case (7) { <h1>Sunday</h1> }
    @default { <h1>Not a Valid number</h1> }
   }
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Car List using for</div>
  <ol>
    @for(car of cars;track $index){
        <li>{{car}}</li>
    }
  </ol>
</div>

<div class="p-2 m-2 border border border-3 rounded-3">
  <div>Employees Table</div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Index</th>
        <th>eid</th>
        <th>name</th>
        <th>salary</th>
        <th>gender</th>
      </tr>
    </thead>
    <tbody>
      @for(emp of employees;track $index){
      <tr>
        <td>{{$index + 1}}</td>
        <td>{{emp.eId}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.sal}}</td>
        <td>{{emp.gender}}</td>
      </tr>
      }
    </tbody>
  </table>

  <div class="border p-2 m-2 rounded-2">
  <h3>Task List</h3>

  <select [(ngModel)]="filter">
    <option>All</option>
    <option>Completed</option>
    <option>Pending</option>
  </select>

  @if(filter === 'All'){
    @for(task of tasks; track $index){
      <div>
        <input type="checkbox" [checked]="task.completed" (change)="toggle(task)" />
        <span [ngClass]="{'text-decoration-line-through': task.completed}">
          {{task.title}}
        </span>
      </div>
    }
  }

  @if(filter === 'Completed'){
    @for(task of tasks; track $index){
      @if(task.completed){
        <div>
          <input type="checkbox" [checked]="task.completed" (change)="toggle(task)" />
          <span class="text-decoration-line-through">{{task.title}}</span>
        </div>
      }
    }
  }

  @if(filter === 'Pending'){
    @for(task of tasks; track $index){
      @if(!task.completed){
        <div>
          <input type="checkbox" [checked]="task.completed" (change)="toggle(task)" />
          {{task.title}}
        </div>
      }
    }
  }
</div>


<div class="border p-2 m-2 rounded-2">
  <h3>Product List</h3>

  <label>Select Category: </label>
  <select [(ngModel)]="category">
    <option>All</option>
    <option>men's clothing</option>
    <option>jewelery</option>
    <option value="">Electronics</option>
  </select>

  <div class="m-2">

    
    @if(category === 'All'){
      @for(product of products; track $index){
        <div class="border p-1 m-1">
          <img [src]="product.image" width="100" height="100">
          <div><b>{{product.title}}</b></div>
          <div>Category: {{product.category}}</div>
          <div>Price: ${{product.price}}</div>
          <div>Rating: {{product.rating.rate}} ({{product.rating.count}} reviews)</div>
        </div>
      }
    }

    
    @if(category === "men's clothing"){
      @for(product of products; track $index){
        @if(product.category === "men's clothing"){
          <div class="border p-1 m-1">
            <img [src]="product.image" width="100" height="100">
            <div><b>{{product.title}}</b></div>
            <div>Category: {{product.category}}</div>
            <div>Price: ${{product.price}}</div>
            <div>Rating: {{product.rating.rate}} ({{product.rating.count}} reviews)</div>
          </div>
        }
      }
    }

    
    @if(category === 'jewelery'){
      @for(product of products; track $index){
        @if(product.category === 'jewelery'){
          <div class="border p-1 m-1">
            <img [src]="product.image" width="100" height="100">
            <div><b>{{product.title}}</b></div>
            <div>Category: {{product.category}}</div>
            <div>Price: ${{product.price}}</div>
            <div>Rating: {{product.rating.rate}} ({{product.rating.count}} reviews)</div>
          </div>
        }
      }
    }

    @if(category === ''){
      <p>No products found in this category!</p>
    }
  </div>
</div>





<h4>Shopping cart</h4>
@for(item of cartItems;track item.id){
    <div class="cart-item">
        <p><b>{{item.name}}</b></p>
        <p>Price: ${{item.price}}</p>
         <div>
            <button class="btn btn-primary mt-2 mx-2" (click)="decrease(item)">-</button> 
            {{item.qty}}
            <button class="btn btn-primary mt-2 mx-2" (click)="increase(item)">+</button> 
         </div>

         <p>Item Total:${{item.price*item.qty}}</p>
    </div>
}
@empty{
    <p>No items in the cart</p>
}
<p><b>Grand Total:${{getTotal()}}</b></p> 




<div class="border p-2 m-2 rounded-2">
  <h3>Employee Table</h3>

  <table border="3" cellpadding="20">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Status</th>
        <th>Salary</th>
      </tr>
    </thead>

    <tbody>
      @for(emp of employees2; track $index){
        <tr
          [style.background-color]="
            emp.role === 'Manager' ? 'lightyellow' :
            emp.role === 'Developer'  ? 'lightblue' :
            emp.role === 'Tester' ? 'lightpink' : 'white'
          "
          [ngClass]="{'inactive': emp.status === 'Inactive'}"
        >
          <td>{{ emp.eId }}</td>
          <td [ngClass]="{'manager-style': emp.role === 'Manager'}">{{ emp.name }}</td>
          <td>{{ emp.gender }}</td>
          <td [ngClass]="{'manager-style': emp.role === 'Manager'}">{{ emp.role }}</td>
         <td>{{ emp.status }}</td>

          
          <td>
            <span
              [ngStyle]="{
                'color': emp.sal > 50000 ? 'green' : 'red',
                'background-color': emp.sal > 70000 ? 'lightgreen' :
                                    (emp.sal >= 40000 && emp.sal <= 70000) ? 'orange' : 'lightcoral',
                'padding': '9px 9px',
                'border-radius': '10px'
              }"
            >
              {{ emp.sal }}
            </span>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>







 </div>
