<!-- <div class="body">
    <div class="jumbotron">
  <h1 class="display-4">Related to items you've viewed</h1>
  <p class="lead">Grab before they are gone!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Check out all</a>
  </p>
</div>
   <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary">5</button>
    <button type="button" class="btn btn-secondary">6</button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-secondary">8</button>
  </div>
</div>
    <app-top-deals>    </app-top-deals>
</div> -->
<div class="body">
<!-- <app-data-binding> </app-data-binding> -->
<!-- <app-directives> </app-directives> -->
<!-- <app-my-modal> 
</app-my-modal> -->
<!-- <app-products> </app-products> -->
 <!-- <app-crud> </app-crud> -->
 <app-pipes> </app-pipes>
<!-- <app-user-list> </app-user-list> -->
</div>