
<h3 class="text-center">Let's Learn Pipes</h3>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>lets see lowercase,uppercase,titlecase pipes</div>
  <div>Name is:: {{ myName }}</div>
  <div>Name in uppercase:: {{ myName | uppercase }}</div>
  <div>Name in lowercase:: {{ myName | lowercase }}</div>
  <div>Name in titlecase:: {{ myName | titlecase }}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Currency pipes::</div>
  <div>{{ salary }}</div>
  <div>{{ salary | currency }}</div>
  <div>{{ salary | currency : 'USD' }}</div>
  <div>{{ salary | currency : 'USD' : 'code' }}</div>
  <div>{{ salary | currency : 'USD' : 'symbol' }}</div>
  <div>{{ salary | currency : 'INR' }}</div>
  <div>{{ salary | currency : '&euro;' }}</div>
  <div>{{ salary | currency : '&#xa5;' }}</div>
  <!-- input | pipeName : argument -->
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Date pipes::</div>
  <div>{{ dateObj }}</div>
  <div>{{ dateObj | date }}</div>
  <div>{{ dateObj | date : 'short' }}</div>
  <!-- Short Date + Short Time -->
  <div>{{ dateObj | date : 'shortDate' }}</div>
  <div>{{ dateObj | date : 'mediumDate' }}</div>
  <div>{{ dateObj | date : 'longDate' }}</div>
  <div>{{ dateObj | date : 'fullDate' }}</div>
  <div>{{ dateObj | date : 'fullDate' | uppercase }}</div>
  <div>{{ dateObj | date : 'fullDate' | lowercase }}</div>
  <div>{{ dateObj | date : 'shortTime' }}</div>
  <div>{{ dateObj | date : 'mediumTime' }}</div>
  <div>{{ dateObj | date : 'longTime' }}</div>
  <div>{{ dateObj | date : 'fullTime' }}</div>
  <div>{{ dateObj | date : 'dd-MMM-yyyy' }}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>number/decimal pipes::</div>
  <div>{{ 12.111222333 | number : '3.2-5' }}</div>
  <div>{{ 12.1 | number : '3.2-5' }}</div>
  <div>{{ 2.1 | number : '3.2-5' }}</div>
  <div>{{ 0.7 | percent }}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>json pipes:</div>
  <div>{{ user }}</div>
  <div>{{ user | json }}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>keyvalue pipes:</div>
  @for(entry of user | keyvalue;track $index){
    <div>{{ entry.key }}---{{ entry.value }}</div>
  }
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>slice pipes:</div>
  <div>{{ numArr }}</div>
  <div>{{ numArr | slice : 2 }}</div>
  <div>{{ numArr | slice : 2 : 5 }}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Custom Pipe(Ordinal)</div>
  <div>Input:: <input [(ngModel)]="num" type="number" /></div>
  <div>Output:: {{num | ordinal}}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>conversion to Roman Using Pipe</div>
  <div>Input:: <input [(ngModel)]="nums" type="number" /></div>
  <div>Output:: {{nums | roman}}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Age calculation</div>
  <div>Date of Birth:: <input [(ngModel)]="age" type="string" /></div>
  <div>Output:: {{age | age}} Years old </div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
    <div><b> Salutation </b></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @for (emp of employees; track emp.id) {
                <tr>
                    <td>{{emp.id}}</td>
                    <td>{{ emp.name | salution:emp.gender}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{ emp.salary}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div class="border border-2 rounded-2 p-2 m-2">
    <div><b> search the table </b></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @for (emp of employees2 | search:text; track emp.eId) {
                <tr>
                    <td>{{emp.eId}}</td>
                    <td>{{ emp.name}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{ emp.sal}}</td>
                </tr>
            }
        </tbody>
    </table>
    <input
  type="text"
  [(ngModel)]="text"
  class="form-control mb-2"
  placeholder="Search here" />

</div>