<div class="container">
  <div class="row border border-2 rounded-2 p-2 text-center">
    <h3>This is Parent component</h3>
    <div>My own data a is:: {{ a }}</div>
    <div>my child's data b is:: {{ child2.b }}</div>
    <div>my child's data user is:: {{ user | json }}</div>

    <div class="row">
      <div class="col-sm-6 border border-2 rounded-2 p-2">
        <app-child1-demo [a]="a" [b]="child2.b"></app-child1-demo>
      </div>
      <div class="col-sm-6 border border-2 rounded-2 p-2">
        <app-child2-demo [aChild]="a" #child2 (userEvent)='receiveDataFromChild($event)'></app-child2-demo>
      </div>
    </div>
  </div>
</div>